body {
    background-color: lightcyan;
}

header {
    padding: 20px;
    background: mistyrose;
}

.row {
    padding: 20px;
}

.hidden {
    display: none;
}

.tab{
    font-size: 20px;
    display: inline-flex;
    top:0;
}

.tabs{
    background: mistyrose;
}

#addTab{
    padding: 0;
    border: none;
    background: none;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 85px; 
}

#tab1{
    padding: 0;
    border: none;
    background: none;
}

#tab2{
    padding: 0;
    border: none;
    background: none;
}

#tab3{
    padding: 0;
    border: none;
    background: none;
}

/* Clear floats after the header */

.header:after {
    content: "";
    display: table;
    clear: both;
}

.taskList {
    width: 500px;
}

.taskList ul {
    width: 500px;
    list-style: none;
}

.taskList li {
    width: 500px;
    height: 40px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}


/* Remove margins and padding from the list */

#tasks {
    margin: 0;
    padding: 0;
}

.w3-bar-item .w3-button{
    padding-left: 5px;
}

#tasks li {
    cursor: pointer;
    position: relative;
    background: lavender;
    padding-left: 10px;
    padding: 5px;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Darker background-color on hover */

#tasks li:hover {
    background: mediumslateblue;
    color: white;
}


/* When clicked on, add a background color and strike out text */

#tasks li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}


/* Add a "checked" mark when clicked on */

ul li:before
{content:'\2605';
  display:inline-block;
  color:blue;
  padding:0 6px 0 0;
  }
ul li{list-style-type:none;font-size:1em;}

<ul>
    <li>test1</li>
    <li>test</li>
</ul>


/* Style the close button */

.close {
    position: absolute;
    right: 8px;
    top: 8px;
}


/* Style the input */

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 400px;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* Style the "Add" button */

.addBtn {
    padding: 10px;
    width: 100px;
    background: lightgoldenrodyellow;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: lemonchiffon;
}