header {
    padding: 20px;
    background: aliceblue;
}

.hidden{
    display: none;
}

.col-4 {
    padding: 50px;
    background-color: lightgoldenrodyellow;
    overflow-x: hidden; 
    padding-top: 20px;
}


.col-8 {
    padding: 50px;
    background-color: lightpink;
}

.main {
    background-color: lightgoldenrodyellow;
}

#openNav{
    background-color: lightgoldenrodyellow;
}

.w3-bar-item .w3-button{
    padding-left: 5px;
}